@import '../../scss/variables.scss';

.mobileMenu {
  font-family: 'Nanum Gothic', sans-serif !important;
  box-shadow: $boxShadow !important;
  padding: 0px !important;
  margin: 0px !important;
}

.searchWrapper {
  margin: auto !important;
}
